/* Base Styles for Larger Screens */
.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  flex-wrap: wrap;
  padding: 20px 0;
  overflow: visible;
}

/* Category Circle Box */
.category-box {
  background-color: lightgray;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}

.category-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}

/* Responsive for Mobile Screens */
@media (max-width: 768px) {
  .category-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    justify-content:center;
    -webkit-overflow-scrolling: touch;
  }

  .category-container::-webkit-scrollbar {
    display: none;
  }

  .category-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .category-box {
    height: 100px;
    width: 100px;
  }

  .cate-head {
    font-size: 14px;
  }
}
@media(max-width:610px){
   .category-container{
    justify-content: flex-start;
   }
}
@media(max-width:1500px){
  .category-box{
    height:120px!important;
    width:120px!important;
  }
   .cate-head {
    font-size: 14px;
  }
}
@media(max-width:1200px){
  .category-box{
    height:100px!important;
    width:100px!important;
  }
   .cate-head {
    font-size: 14px;
  }
}
