/* src/styles/header.css */

.nav-links-custom {
  color: #0096A6 !important;
  font-weight: 500 !important;
  font-size: 20px !important;
}

.toggle-icon {
  height: 40px;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.toggle-icon:focus,
.toggle-icon:active {
  outline: none !important;
  box-shadow: none !important;
}

.counts {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  padding: 3px;
  color: #0096A6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.header-icon-text {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
  color: #333;
}

@media (max-width: 992px) {
  .logo {
    height: 55px !important;
  }
  .nav-links-custom {
      font-size:15px!important;
  }
  .navbar-nav .nav-link.nav-links-custom {
    padding-left: 0.5rem;
    margin-top:-10px;
    padding-right: 0.5rem;
    margin-left:10px;
  }
  .counts{
    top:-20px!important;
   
  }
}
.navbar-toggler-icon {
    width: 1.5em!important;
    margin-top:2px;
   
}


@media (max-width: 575.98px) {
  .header-icon-text {
    display: none;
  }
  .counts{
    top:-10px!important;
   
  }
  /* Remove margin from the specific d-flex group if it causes issues on very small screens */
  /* .d-flex.order-lg-last.align-items-center > div {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  } */
}

@media (min-width: 992px) {
    .navbar-collapse.show,
    .navbar-collapse {
        background-color: transparent !important;
    }
}
