.offers-container h1{
    font-weight:500;
    font-size:30px;
    color:#0096A6!important;
}
.offers-container span{
    font-size:40px;
    font-weight:bold;
    color:#0096A6;
    
}
.offers-container h3{
    color:#0096A6!important;
}

.offers-image img{
    height:100px;
    width:150px;
}
.offers-container{
    border:1px dashed #0096A6;
    border-radius:100px;
    margin-bottom:-25px;
    position:relative;
    z-index:100;
}















