.trending-images{
    overflow:hidden;
    position:relative;

}
.trending-images img{
    background-size:cover;
    object-fit:cover;
    width:100%;
    height:100%;
      border-radius:10px;


}

.trending-container{
    margin-top:50px!important;
    margin-bottom:50px!important;
}

@media(max-width:768px){
    .custom-button{
        font-size:10px!important;
      
    }
    .trending-container{
    margin-top:40px!important;
    margin-bottom:40px!important;
}
}


.custom-button3{
    width:100%;
}







